language: node_js

node_js: "9"

install: npm install

notifications:
  email:
    recipients: 
      - $ownerEmail
  on_success: always
  on_failure: always

script:
  - npm run lint
  - npm test -- --dbHost $unitTestDbHost
